{% extends 'app/account_base.html' %}
{% block content %}
<div class="row">
	<div class="col-3">
      <div class="card card-body">
          <a class="btn btn-warning" href="{% url 'account_user' %}">Back to Account</a>
          <hr>
          <h4 style="text-align: center">Account {{request.user}}</h4>
          <hr>
          <h4 style="text-align: center">Reference Number: {{request.user.id}}</h4>
      </div>
    </div>
    <div class="col-8">
        <h3>Posts made by other accounts with your permission</h3>
    {% for p in code %}
    <article class="media content-section">
        <div class="media-body">
                <p class="article-content">Id Code: {{p.id}}</p>
                    <p class="article-content">Author: {{p.posts.user_id}}</p>
                    <p class="article-content">Amount: {{ p.posts.amount|linebreaksbr|truncatechars:60 }}</p>
                    <p class="article-content">Price per unit: {{ p.posts.price_per_unit|linebreaksbr|truncatechars:60 }}</p>
                    <p class="article-content">Buy/Sell: {{ p.posts.type_of_transaction|linebreaksbr|truncatechars:60 }}</p>
                    <p class="article-content">Content: {{ p.posts.content|linebreaksbr|truncatechars:60 }}</p>
                    <p class="article-content">Datetime: {{ p.posts.datetime|linebreaksbr|truncatechars:60 }}</p>
                    <a href="{% url 'delete_post' id=p.id %}"><input type="submit" class="btn-primary" value="Delete"></a>
            </div>
        </article>
    {% endfor %}
    </div>
</div>

{% endblock %}