{% extends 'transaction/post_list.html' %}

{% block content %}
        <article class="media content-section">
          <div class="media-body">
            <p class="article-content">Amount: {{ post.amount|linebreaksbr|truncatechars:60 }}</p>
            <p class="article-content">Price: {{ post.price|linebreaksbr|truncatechars:60 }}</p>
            <p class="article-content">Buy/Sell: {{ post.type_of_transaction|linebreaksbr|truncatechars:60 }}</p>
            <p class="article-content">Datetime: {{ post.datetime|linebreaksbr|truncatechars:60 }}</p>
          </div>
        </article>
{% endblock %}
